spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springboot
    username: root
    password: Manu@Xwoorkz
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      minimum-idle: 5
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      pool-name: HikariPool
      initialization-fail-timeout: -1

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        show_sql: false
        jdbc:
          time_zone: UTC

server:
  port: 8080

logging:
  level:
    org:
      springframework: INFO
      hibernate: WARN